header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.social{
    text-align:center;
    width:40px;
    height:40px;
    /*float:left;*/
    background:rgb(255,255,255);
    border:1px solid rgb(204,204,204);
    box-shadow:0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius:50%;
    margin:0 10px 10px 0;
    padding:5px;
}

nav ul {
  margin-bottom: 0;
}

.facebook:hover{background:#3b5998;color:#FFF;}
.twitter:hover{background:#00acee;color:#FFF;}
.pinterest:hover{background:#c8232c;color:#FFF;}

#1, #2, #3{
  width: 100%;
  height: 400px;
  margin: auto;
}

.card img {
  width: 100%;
}

#carolina {
  width: 200px;
  margin: auto;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.card {
  text-align: center;

}

.card button {
  margin: auto;
}

#myModal2 {
  overflow: scroll;
}

#CDSWIDSSP {
  margin: auto !important;
}


@media (min-width:540px){

.carousel-item {
  width: 100vh;
  height: 100vh;


}

.carousel-item:first-child {
  background-image: url(../img/528.1.jpg);
  background-size: cover;

}

.carousel-item:nth-child(2) {
  background-image: url(../img/02.1.jpg);
background-size: cover;
background-position: center
}


.carousel-item:nth-child(3) {
  background-image: url(../img/03.1.jpg);
background-size: cover;

}

}


@media (min-width:960px) {




.carousel-item:first-child {
  background-image: url(../img/701.1.jpg);
  background-size: cover;


}

.carousel-item:nth-child(2) {
  background-image: url(../img/709.1.jpg);
background-size: cover;
}

.carousel-item:nth-child(3) {
  background-image: url(../img/711.1.jpg);
background-size: cover;
}



}
